MONGO_URI=mongodb+srv://sushankm16:4i1WAfPYKWyqPIDD@cluster0.sngp9pz.mongodb.net/?retryWrites=true&w=majority
TOKEN=
OWNER_ID=5938660179
LOGGER_ID=5938660179
FSUB_IDS=-1001818343794
# Optional
SECRET_TOKEN=
WEBHOOK_URL=
PORT=
